:root {
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-extra-dark: #283136;
  --basic-dark-grey: #4d4d4d;
  --basic-silver-grey: #e1e1e1;
  --basic-extra-grey: #a6a6a6;
  --basic-light-grey: #d5d5d5;
  --basic-silver: #d7dcde;
  --basic-extra-silver: #dbdbdb;
  --basic-extra-light-grey: #dfdfdf;
  --basic-white: #ffffff;
  --basic-grey: #eeeeee;
  --basic-extra-red: #fb565a;
  --basic-light-red: #e74246;
  --basic-red: #d7373b;
  --basic-green: #01a25e;
  --basic-light-green: #00ca74;
  --basic-extra-green: #00bc6c;
  --basic-dark-green: #00aa62;
  --basic-light-yellow: #efc849;
  --basic-yellow: #eab534;
  --basic-dark-yellow: #e5a722;
  --basic-extra-yellow: #efc849;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site navigation */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a {
  text-decoration: none;
}

/* User Cart */

.user-cart {
  width: 140px;
}

.user-cart-image {
  text-decoration: none; /* Убирает нижнее подчеркивание текста */
}

.user-cart .user-cart-text {
  padding-left: 50px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.main-header {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header h1 {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/* Filters */

.filters {
  width: 280px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 54px;
}

.filter legend {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;
}

.grid-item {
  margin-bottom: 20px;
}

.features-item {
  margin-bottom: 20px;
}

.mackets-filter li {
  width: 228px;
  min-height: 20px;
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  margin-top: 75px;
}

/*Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-catalog .container {
  align-items: flex-start;
  flex-direction: row;
}

/* Logo */

.main-header-logo {
  justify-self: start;
  width: 160px;
  height: 65px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-left: 202px;
  background-color: var(--basic-white);
  padding: 0 10px;
}

/* Site Navigation */

.site-navigation {
  width: 600px;
  margin: 0;
  padding: 0;
  list-style: none; /*Убирает маркеры списка */
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-extra-red);
}

/*User Navigation */

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-cart a:hover,
.user-cart a:focus {
  background-color: var(--basic-extra-red);
}

/* User Cart */

.user-cart-image {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
}

.slides-list {
  list-style: none;
}

.slides-list h2 {
  font-size: 55px;
  line-height: 55px;
}

/* Services */

.services {
  margin-bottom: 80px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 300px;
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.services-item p {
  margin-bottom: 32px;
}

.services-btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  width: 160px;
  color: var(--basic-white);
}

.btn-web {
  background-color: var(--basic-extra-red);
}

.btn-apps {
  background-color: var(--basic-light-green);
}

.btn-present {
  background-color: var(--basic-extra-yellow);
}

/* Index Columns */

.index-columns {
  /*display: grid;
  grid-template-columns: 2fr 1fr;*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
}

.about-us {
  margin: 0;
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
}

/* Orders List */

.orders-list {
  list-style: none;
}

.orders-item {
  margin: 0;
  margin-bottom: 23px;
}

.orders-item p {
  margin: 0;
}

/*Orders Statistic */

.orders-statistic h2 {
  text-align: center;
  width: 358px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 31px;
}

.nerds-logo {
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
}

.excellence {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  margin-bottom: 10px;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.features-list p {
  margin: 0;
}

/* Clients */

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 78px;
  min-height: 64px;
  margin-right: 20px;
  margin-bottom: 10px;
}
/*Layouts List */

.layouts-list {
  /*display: grid;
  grid-template-columns: 1fr 1fr;*/
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  list-style: none;
}

.layouts-item {
  width: 358px;
  min-height: 578px;
  margin-right: 42px;
  margin-bottom: 30px;
}

.layouts-item:nth-child(2n) {
  margin-right: 0;
}

/*Page with layouts list */

.page-with-layouts-list {
  list-style: none;
}

.page-with-layouts-item {
  display: inline-block;
  margin-right: 10px;
}

.page-btn {
  border: 3px solid var(--basic-extra-silver);
  box-sizing: border-box;
  border-radius: 3px;
  background-color: var(--basic-grey);
  color: var(--basic-black);
  font-weight: bold;
  width: 50px;
  height: 50px;
}

.page-btn:hover,
.page-btn:focus,
.page-btn:active {
  background-color: var(--basic-white);
}

.page-btn-next {
  border: 3px solid var(--basic-extra-silver);
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--basic-grey);
  color: var(--basic-black);
  font-weight: bold;
  width: 260px;
  height: 50px;
}

.page-btn-next:hover,
.page-btn-next:focus,
.page-btn-next:active {
  background-color: var(--basic-white);
}

.btn {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-extra-red);
  border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--basic-light-red);
}

/* Contacts */

.contacts-phone {
  color: inherit; /*Цвет наследуется от родителя */
  text-decoration: none;
}

/*Contacts-form */

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 37px;
}

.contacts-form-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.contacts-form-input {
  font-size: 16px;
  line-height: 18px;
  background-color: transparent; /*Прозрачный цвет фона */
  border: 2px solid var(--basic-silver);
}

.contacts-form-input:focus {
  border-color: var(--basic-black);
}

.contacts-form p {
  margin: 0;
  margin-bottom: 34px;
}

.send-btn {
  width: 260px;
  margin-top: 27px;
}

/* Popup */

.popup h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
}

.popup p {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-black);
}

.popup-btn {
  width: 200px;
  height: 50px;
  background-color: var(--basic-extra-red);
}

/* Main footer */

.main-footer {
  background-color: var(--basic-white);
  margin-top: 68px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Social List */

.social-list {
  list-style: none;
}

.social-list-item {
  display: inline-block;
  margin-right: 10px;
  background-color: var(--basic-silver-grey);
  border: 1px solid var(--basic-white);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  text-align: center;
}
.social-list-item:hover,
.social-list-item:focus {
  background-color: var(--basic-light-red);
}

.social-list-logo-vk {
  width: 26px;
  height: 15px;
  margin: 33px 27px;
}

.social-list-logo-fb {
  width: 12px;
  height: 22px;
  margin: 29px 30px;
}

.social-list-logo-inst {
  width: 21px;
  height: 21px;
  margin: 30px 30px;
}

.sort-list {
  list-style: none;
}

.sort-item {
  display: inline-block;
  margin-right: 25px;
}

/* Page Catalog */

.page-catalog {
  display: grid;
  grid-template-columns: 240px 1fr;
  align-content: start;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
  margin-bottom: 55px;
}

.page-catalog .contacts {
  grid-column: 1 / -1;
}

.footer-social {
  text-align: left;
}

.footer-socal-quote {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.main-footer p {
  font-size: 16px;
  line-height: 22px;
}
