:root {
  --basic-black: #000000;
  --basic-dark: #444444;
  --basic-extra-dark: #283136;
  --basic-dark-grey: #4d4d4d;
  --special-grey: #ababab;
  --special-extra-grey: #cfcfcf;
  --basic-silver-grey: #e1e1e1;
  --basic-extra-grey: #a6a6a6;
  --basic-light-grey: #d5d5d5;
  --basic-silver: #d7dcde;
  --basic-extra-silver: #dbdbdb;
  --basic-extra-light-grey: #dfdfdf;
  --basic-white: #ffffff;
  --basic-grey: #eeeeee;
  --basic-extra-red: #fb565a;
  --basic-light-red: #e74246;
  --basic-red: #d7373b;
  --basic-green: #01a25e;
  --basic-light-green: #00ca74;
  --basic-extra-green: #00bc6c;
  --basic-dark-green: #00aa62;
  --basic-light-yellow: #efc849;
  --basic-yellow: #eab534;
  --basic-dark-yellow: #e5a722;
  --basic-extra-yellow: #efc849;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Site Navigation */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  padding: 0;
  list-style: none;
  min-height: 70px;
  margin: 0 auto;
  padding: 0;
}

/* Login link */

.user-navigation {
  max-width: 180px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .login-link {
  padding-left: 20px;
  position: relative;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-extra-red);
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-extra-red);
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-grey);
}

.page-title h1 {
  margin: 0;
  padding-top: 78px;
  padding-bottom: 108px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}
/* Filters */

.filter-price {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-price legend {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 54px;
}

.filter legend {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-silver);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-extra-grey);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-extra-dark);
  border: none;
  border-radius: 5px;
  background: var(--basic-grey);
  font-family: inherit;
  font-size: inherit;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;
}

.grid-item {
  margin-bottom: 20px;
}

.features-item {
  margin-bottom: 20px;
}

.mackets-filter li {
  width: 228px;
  min-height: 20px;
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

/*Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper {
  width: 100%;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

/* Main Header Logo */

.main-header-logo {
  width: 160px;
  height: 65px;
}

.slides-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slides-list h2 {
  font-size: 55px;
  line-height: 55px;
}

/* Services */

.services {
  padding: 80px 0;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 300px;
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  margin-bottom: 32px;
}

.services-btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  width: 160px;
  height: 50px;
  color: var(--basic-white);
}

.btn-web {
  background-color: var(--basic-extra-red);
}

.btn-apps {
  background-color: var(--basic-light-green);
}

.btn-present {
  background-color: var(--basic-extra-yellow);
}

/* Index Columns */

.about-company {
  margin-top: 72px;
}
.index-columns {
  /*display: grid;
  grid-template-columns: 2fr 1fr;*/
  display: flex;
  justify-content: space-between;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.index-columns h3 {
  text-transform: uppercase;
}
.about-us {
  margin: 0;
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
}

/* Orders List */

.orders-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders-item {
  margin: 0;
  margin-bottom: 23px;
  margin-left: 32px;
}

.orders-item p {
  margin: 0;
}

/*Orders Statistic */

.orders-statistic {
  padding: 40px 0;
}

.orders-statistic h2 {
  text-align: center;
  width: 358px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 31px;
  text-transform: uppercase;
}

.nerds-logo {
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
}

.excellence {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  margin-bottom: 10px;
}

.excellence sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.features-list p {
  margin: 0;
}

/* Clients */

.clients {
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.clients-list {
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 78px;
  min-height: 64px;
  margin-right: 20px;
  margin-bottom: 10px;
}
/*Layouts List */

.layouts-filter {
  width: 800px;
}

.layouts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  margin-bottom: 55px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.layouts-item {
  width: 358px;
  min-height: 578px;
  margin-bottom: 30px;
}

/*Page with layouts list */

.page-with-layouts-list {
  list-style: none;
}

.page-with-layouts-item {
  display: inline-block;
  margin-right: 10px;
}

.page-btn {
  border: 3px solid var(--basic-extra-silver);
  box-sizing: border-box;
  border-radius: 3px;
  background-color: var(--basic-grey);
  color: var(--basic-black);
  font-weight: bold;
  width: 50px;
  height: 50px;
}

.page-btn:hover,
.page-btn:focus,
.page-btn:active {
  background-color: var(--basic-white);
}

.page-btn-next {
  border: 3px solid var(--basic-extra-silver);
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--basic-grey);
  color: var(--basic-black);
  font-weight: bold;
  width: 260px;
  height: 50px;
}

.page-btn-next:hover,
.page-btn-next:focus,
.page-btn-next:active {
  background-color: var(--basic-white);
}

.btn {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-extra-red);
  border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--basic-light-red);
}

/* Contacts */

.contacts-phone {
  color: inherit; /*Цвет наследуется от родителя */
  text-decoration: none;
}

/*Contacts-form */

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 37px;
}

.contacts-form-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.contacts-form-input {
  font-size: 16px;
  line-height: 18px;
  background-color: transparent; /*Прозрачный цвет фона */
  border: 2px solid var(--basic-silver);
}

.contacts-form-input:focus {
  border-color: var(--basic-black);
}

.contacts-form p {
  margin: 0;
  margin-bottom: 34px;
}

.send-btn {
  width: 260px;
  margin-top: 27px;
}

/* Popup */

.popup h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
}

.popup p {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-black);
}

.popup-btn {
  width: 200px;
  height: 50px;
  background-color: var(--basic-extra-red);
}

/* Main footer */

.main-footer {
  background-color: var(--basic-white);
  margin-bottom: 68px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Social List */

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-list-item {
  display: inline-block;
  margin-right: 10px;
  background-color: var(--basic-silver-grey);
  border: 1px solid var(--basic-white);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  text-align: center;
}
.social-list-item:hover,
.social-list-item:focus {
  background-color: var(--basic-light-red);
}

.social-list-logo-vk {
  width: 26px;
  height: 15px;
  margin: 33px 27px;
}

.social-list-logo-fb {
  width: 12px;
  height: 22px;
  margin: 29px 30px;
}

.social-list-logo-inst {
  width: 21px;
  height: 21px;
  margin: 30px 30px;
}

.sort-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort-item {
  display: inline-block;
  margin-right: 25px;
}

/* Page Catalog */

.page-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  padding: 0;
}

.page-catalog .container {
  grid-column: 1 / -1;
  margin-bottom: 55px;
}

.page-catalog .contacts {
  grid-column: 1 / -1;
}

.footer-social {
  text-align: left;
}

.footer-socal-quote {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.main-footer p {
  font-size: 16px;
  line-height: 22px;
}
